<nav class="navbar navbar-expand-lg bg-warning navbar-light">


  <div class="container-fluid">
    
    {# LOGO #}
    <a class="navbar-brand" href="{{ path('app_home') }}">
      <img class="img-fluid" width="120" height="auto" src="{{ asset('assets/icons/logo1.jpg') }}" alt="Logo">
    </a>

    {# BOUTON BURGER RESPONSIVE #}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {# MENU PRINCIPAL #}
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link {% if app.request.attributes.get('_route') == 'app_home' %}active fw-bold{% endif %}" href="{{ path('app_home') }}">
            <i class="bi bi-house-door"></i> Accueil
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if app.request.attributes.get('_route') == 'app_project_index' %}active fw-bold{% endif %}" href="{{ path('app_project_index') }}">
            <i class="bi bi-folder"></i> Projets
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="bi bi-tags"></i> Pricing
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="bi bi-info-circle"></i> About
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-grid"></i> Options
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
      </ul>

      {# ICÔNES UTILISATEUR #}
      {% if app.user %}
      <div class="d-flex align-items-center">
        <a href="{{ path('app_profil') }}" class="me-3">
          <i class="bi bi-person-circle fs-4 text-light"></i>
        </a>
        <a href="{{ path('app_logout') }}">
          <i class="bi bi-box-arrow-right fs-4 text-danger"></i>
        </a>
      </div>
      {% else %}
      <div class="d-flex align-items-center">
        <a href="{{ path('app_login') }}" class="me-3">
          <i class="bi bi-door-open fs-4 text-light"></i>
        </a>
        <a href="{{ path('app_user_new') }}">
          <i class="bi bi-person-plus fs-4 text-success"></i>
        </a>
      </div>
      {% endif %}
    </div>

  </div>
</nav>
