{% extends 'base.html.twig' %}

{% block title %}Créer un projet{% endblock %}

{% block body %}
    <h1>Créer un projet</h1>

    {{ form_start(form) }}
        {{ form_row(form.libelle) }}
        {{ form_row(form.code) }}
        {{ form_row(form.description) }}
        {{ form_row(form.beginDate) }}
        {{ form_row(form.endDate) }}
        {{ form_row(form.estimateEndDate) }}
        {{ form_row(form.cost) }}
        {{ form_row(form.status) }}
        {{ form_row(form.isFinished) }}
        {{ form_row(form.isSuccess) }}

        <button type="submit" class="btn btn-primary">Créer</button>
    {{ form_end(form) }}
{% endblock %}

